[submodule "browser-solidity/src"]
	path = browser-solidity/browser-solidity
	url = https://github.com/ethereum/browser-solidity.git
[submodule "ethereum/go-ethereum"]
	path = ethereum/go-ethereum
	url = https://github.com/ethereum/go-ethereum
[submodule "ethereum-bootnode/go-ethereum"]
	path = ethereum-bootnode/go-ethereum
	url = https://github.com/ethereum/go-ethereum
[submodule "eth-netstats/eth-netstats"]
	path = eth-netstats/eth-netstats
	url = https://github.com/cubedro/eth-netstats
[submodule "ethereum/eth-net-intelligence-api"]
	path = ethereum/eth-net-intelligence-api
	url = https://github.com/Magicking/eth-net-intelligence-api
[submodule "ether-swarm-services"]
	path = ether-swarm-services
	url = https://github.com/Magicking/ether-swarm-services.git
[submodule "ether-swarm-cache"]
	path = ether-swarm-cache
	url = https://github.com/Magicking/ether-swarm-cache.git
[submodule "EthExplorer"]
	path = EthExplorer
	url = https://github.com/Magicking/EthExplorer.git
